* {
    text-decoration: none;
    margin: 0;
    padding: 0 20px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e3ffca;
    font-size: 20px;
}

.wrapper {
    width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: visible;
}

.logo a {
    font-size: 50px;
    font-weight: 700;
    float: left;
    font-family: fantasy;
    color: #476eae;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #F6FF99;
    z-index: 1;
    padding: 10px 20px;
    overflow: visible;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li a {
    color: #476eae;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #f3ffec;
    z-index: 999;
}

.dropdown-content a {
    color: #5851d4;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
}

.dropdown-content a:hover {
    background-color: #bed6e2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    margin-bottom: 10px;
    padding: 20px 10px;
}

section img {
    max-width: 400px;
    border-radius: 12px;
}

section.reverse {
    flex-direction: row-reverse;
}

.kolom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
    max-width: 1000px;
    padding: 2rem;
    border-radius: 20px;
    background-color: #A7E399;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    background-image: url("images/maskot.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 120px;
}

.kolom .gambar {
    flex: 1;
}

.kolom .gambar img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

.kolom .teks {
    flex: 2;
     max-width: 600px;
    overflow-wrap: break-word;
}

.kolom .teks p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.kolom.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 600px) {
  .kolom {
    flex-direction: column;
    text-align: center;
  }

  .kolom .teks {
    max-width: 100%;
    padding: 0 10px;
  }

  .kolom .gambar img {
    max-width: 300px;
  }
}

.deskripsi {
    font-size: 1.7rem;
    font-weight: bold;
    color: #476eae;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 10px;
    color: #476eae;
    width: 100%;
    line-height: 50px;
}
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #476eae;
    line-height: 23px;
    font-weight: 550;
}

li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.tbl-biru {
    background: #5851d4 ;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffff;
    cursor: pointer;
    font-weight: bold;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 1.1rem;
}

.tengah {
    text-align: center;
    width: 100%;
}

.profil-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.kartu-profil {
    width: 11%;
    margin: 0 auto;
}

.kartu-profil img {
    width: 89%;
    border-radius: 50%;
    display: block;
}

.kartu-profil p {
    font-family: 'Trebuchet MS';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #476eae;
}  

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 40px;
}

.kolom.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 10px;
}

@media (max-width: 600px) {
  .profil-list {
    flex-direction: column;
    align-items: center;
  }
  .kartu-profil {
    width: 80%; 
  }
}


.maskot {
    display: block;
    margin: right;
    max-width: 200px;
    height: auto;
}

.copyright {
    text-align: center;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 0 10px;
  }

.kolom {
    padding: 20px;
    max-width: 100%;
  }

.deskripsi {
    font-size: 1.6rem;
  }

h2 {
    font-size: 1.9rem;
  }

p, li {
    font-size: 1.2rem;
  }
}